

.left {
    width: 20vw;
    padding: 4px;

}

.right {
    width: 80vw;
    margin-left: -4px;
    padding: 4px;
    max-height: 97.8vh;
    position: relative;
}

.logo {
    margin-top: -3px;
}

.home ul li {
    cursor: pointer;
    display: flex;
    width: 23px;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

.home {
    padding: 23px;
}

.Library_logo {
    width: 25px;
}

.heading {
    cursor: pointer;
    align-items: center;
}

.heading h2 {
    font-size: 16px;
    padding-left: 15px;
}

.library {
    position: relative;
    min-height: 72vh;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    padding: 10px;
    gap: 5px;
}

.footer {
    position: absolute;
    bottom: 10px;
}

.footer a {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    color: var(--font_gray);
}

.header {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}
.NavigationBar{
    width: 97.5%;
}

.signupbtn {
    margin-right: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #b2b2b2;
}

.signupbtn:hover {
    color: var(--fontwhite);
    font-size: 17px;
}

.loginbtn {
    color: var(--font_black);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btns button:hover {
    background-color: #b2b2b2;
}

.btns button {
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 110px;
}

/* below navigation Bar  ==>  Card Container */

.spotifyplaylist {
    padding: 15px;
    font-size: 12px;
    margin-top: -5PX;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.spotifyplaylist .card {
    width: 180px;
    height: 250px;
    margin-top: 30px;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
}

.cardcontainer>:hover {
    background-color: var(--card_container_hover_bg);
    border-radius: 8px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: space-around;
    padding: 10px 0px 0px 20px;
    padding-bottom: 100px;
}

.song_card_text {
    padding-top: 5px;
}

.song_card_text>p {
    margin-top: 7px;
}

.card {
    position: relative;
}


.songsbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
}

.songlist {
    height: 290px;
    width: 270px;
    overflow: auto;
    overflow-x: hidden;
    padding: 5px;
}

.songlist ul {
    padding: 0px 20px;
    font-size: 12px;
}

.songlist ul li {
    margin-left: -22px;
    height: 50px;
    width: 245px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 7px;
    justify-content: space-between;
    list-style-type: decimal;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0px 4px;
    /* top-bottom 12px      left-right 0px*/
}

.songlist ul li img {
    width: 38px;
}


.song-controls {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
}

.songinfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
}

.songsbtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
}


#play{
    width: 34px;
}


/* Player bottom */
.play-bar-container {
    position: fixed;
    bottom: 17px;
    height: 80px;
    width: 74.9%;
    padding: 10px;
    background-color: var(--play_bar_container_bg);
    border: 1px solid white;
}
    
.seek-bar {
    left: 0%;
    bottom: 0;
    width: 95%;
    height: 8px;
    background-color: var(--seekbar_color_white);
    border-radius: 10px;
    position: absolute;
    margin: 6px;
    margin-left: 29px;
    cursor: pointer;
  }
  
  .circle {
    height: 16px;
    width: 16px;
    background-color: var(--seekbar_circle_color);
    border-radius: 20px;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
  }

