
.left{
    width: 20vw;
    padding: 4px;;
    
}
.right{
    width: 80vw;
    min-height: 10vh;
}
.logo{
    margin-top: -3px;
}

.home ul li {
    display: flex;
    width: 23px;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
}
.home{
    padding: 23px;
}
.Library_logo{
    width: 25px;
}
.heading{
    align-items: center ;
}
.heading h2{
    font-size: 16px;
    padding-left: 15px;
}
.library{
    position: relative;
    min-height: 72.5vh;
    margin-top: 10px;
}
.grid{
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.footer{
    gap: 10px;
    position: absolute;
    bottom: 80px;
}
.footer a{
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    color: gray;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
}