@media (max-width: 1500px) {

    .left {
        left: -120%;
        position: absolute;
        transition: all .5s;
        z-index: 1;
        width: 372px;
    }

    .right {
        width: 100%;
    }

    .hamburger img {
        margin-top: 5px;
        padding-right: 20px;
        width: 40px;
        display: flex;
    }

    .play-bar-container{
        width: 95%;
    }

    .closeHamburger img {
        display: block;
        z-index: 1;
    }
    .logo{
        display: flex;
        justify-content: space-between;
    }

}