@media (min-width: 300px) and (max-width: 500px) {
    .left {
        left: -120%;
        height: 98.5%;
        position: absolute;
        transition: all .5s;
        z-index: 1;
        width: 380px;
    }


    .home {
        margin-right: 5px;
        margin-left: 5px;
    }

    .library {
        position: relative;
        min-height: 76.5%;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }


    .closeHamberger {
        display: block;
    }

    .play-bar-container {
        width: 86%;
    }


    .logo {
        display: flex;
        justify-content: space-between;
    }

    .songlist {
        height: 290px;
        width: 330px;
        overflow: auto;
        overflow-x: hidden;
        padding: 5px;
    }

    .songlist ul li {
        margin-left: -10px;
        height: 50px;
        width: 300px;
        border: 1px solid white;
        border-radius: 5px;
        margin-top: 7px;
        justify-content: space-between;
        list-style-type: decimal;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0px 4px;
    }


    .right {
        width: 95.8%;
        padding-left: 13px;
        padding-right: 8px;
        padding-bottom: 15px;
    }

    
    
    .NavigationBar {
        width: 93.4%;
    }
    
    .hamburger img {
        margin-top: 5px;
        padding-right: 10px;
        width: 36px;
        display: flex;
    }
    
    .arrow-image-navbar {
        justify-content: center;
        width: 14px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 100px;
        margin: 3px;
    }
    
    .signupbtn {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 300;
        cursor: pointer;
        color: #b2b2b2;
    }
    .signupbtn:hover {
        color: var(--font_white);
        font-size: 15px;
    }
    
    .btns button {
        border-radius: 50px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 90px;
    }
    .btns button:hover {
        background-color: #b2b2b2;
    }
    .scroll-container {
        width: 93.9%;
        height: 89%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        background-color: #1a1a1a;
    }
    .spotifyplaylist .card {
        width: 259px;
        height: 300px;
        margin-top: 25px;
        margin-right: 20px;
        padding: 10px 10px 10px 10px;
    }
    /* Green Play Button on Album at Right bottom cornor*/
    .playicon svg {
        width: 70px;
        position: absolute;
        top: 190px;
        left: 180px;
        /* opacity: 0; */
        /* transition: all 1s ease-out; */
    }

    .play-bar-container {
        position: fixed;
        bottom: 30px;
        height: 120px;
        width: 83.9%;
        padding: 5px;
        background-color: var(--maincolor_lightGray);
        border: 1px solid white;
    }

    .songsbtn {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        cursor: pointer;
    }

    .songsbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        cursor: pointer;
    }

    .songinfo {
        width: 316px;
        position: absolute;
        left: 10px;
        top: 5px;
        text-align: left;
        font-weight: 300;
        font-size: 14px;
    }

    .seek-bar {
        left: 0%;
        bottom: 0;
        width: 94%;
        height: 8px;
        background-color: var(bg_white);
        border-radius: 10px;
        position: absolute;
        margin: 6px;
        margin-left: 10px;
        cursor: pointer;
    }
    .cardcontainer {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        justify-content: center;
        padding: 10px 0px 0px 20px;
        padding-bottom: 150px;
    }

    #h1
    {
        margin-top: 20px;
    }
    .info div{
        word-break: break-all;
    }
    
    .volume img {
        width: 30px;
    }
    .range {
        display: flex;
        padding: 0px 5px 0px 3px;
    }

}