@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.justify-center{
    justify-content: center;
}
.align{
    align-items: center;
}
.border-radius{
    border-radius: 7px;
}

.flex {
    display: flex;
}

.invert_image {
    filter: invert(1);
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-gray {
    background-color: #121212;
    color: white;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}
.capsule{
    display: flex;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 30px;
    padding: 7px;
    width: 85px;
    height: 15px;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}
.english-capsule{
    align-items: center;
    font-size: 10xp;
    font-weight: 400;
    margin: 3px;
    padding: 7px;
}
.arrow-image-navbar{
    justify-content: center;
    width: 18px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    margin: 3px;
}

.playicon svg{
    width: 50px;
    position: absolute;
    top: 126px;
    left: 130px;
    /* opacity: 0; */
    /* transition: all 1s ease-out; */
}
/* .playicon svg :hover{
    opacity: 1;
    top: 126px;
} */

/* Container styles for scroll bar*/
.scroll-container {
    width: 98.4%; /* Adjust as needed */
    height: 85vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Ensure vertical scrollbar is shown if needed */
    padding: 10px;
    background-color: #1a1a1a; /* Dark background color for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: shadow for better appearance */
}

/* General scrollbar styles for the container */
.scroll-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #2a2a2a; /* Background color of the scrollbar track */
}

/* Track (part of the scrollbar not covered by the thumb) */
.scroll-container::-webkit-scrollbar-track {
    background-color: #2a2a2a; /* Track color */
    border-radius: 6px; /* Rounded corners for the track */
}

/* Handle (the draggable part of the scrollbar) */
.scroll-container::-webkit-scrollbar-thumb {
    background-color: #444; /* Handle color */
    border-radius: 6px; /* Rounded corners for the handle */
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Handle color on hover */
}

.left-side-playbtn svg{
    width: 36px;
    align-items: center;
    justify-content: center;
    margin-bottom: -3px;
    font-size: 5px;
}
.left-side-playbtn{
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}